<div class="message">
  <h3 class="message-header"><!-- TODO bind subject here --></h3>
  <hr>
  <div class="message-summary">
    <div class="sender"> From: <!-- TODO bind from here --></div>
    <div> To: {{message.to}}</div>
    <div> 10/03/2016 12:00</div><!-- TODO date formatted with pipe -->
    <div>
      <button class="btn">Reply</button><!-- TODO bind click event here -->
      <button class="btn">Forward</button><!-- TODO bind click event here -->
      <button class="btn">Delete</button><!-- TODO bind click event here -->
    </div>
  </div>
  <div>
  <pre class="message-body">
      {{<!-- TODO bind body here --> }}
  </pre>
  </div>
  <!--
  <pre>{{message | json}}</pre>
  -->
</div>
