<div class="mail-composer" *ngIf="!!draft">
  <form #draftForm="ngForm" class="inline-form" novalidate>
    <h3>Compose message</h3>

    From: {{draft.from}}<br/>
    <hr>
    To:
    <input class="form-control" name="to" type="email"
           required
           [(ngModel)]="draft.to"><br/>
    <hr>
    Subject:
    <input class="form-control" name="subject"
           [(ngModel)]="draft.subject"
           required><br/>
    <hr>
    Body: <br/>
    <textarea class="form-control" name="body" [(ngModel)]="draft.body"></textarea><br/>
    <hr>
    <button class="btn btn-primary" (click)="send()">Send</button>
    <button class="btn " (click)="save()">Save</button>
    <button class="btn " (click)="cancel()">Cancel</button>

    <pre>
      Valid: {{draftForm.form.valid }}
      Dirty: {{draftForm.form.dirty }}
      Pristine: {{draftForm.form.pristine }}
    </pre>
  </form>
</div>
