<div class="page-container">

  <header class="horizontal-container">
    <!--<div ng-include=" 'components/mail-search.html' "></div>-->
    <nis-mail-logo></nis-mail-logo>
  </header>

  <section class="page-center horizontal-container">
    <nav class="page-left-menu">
      <section class="compose-toolbar">
        <button>Compose</button>
      </section>

      <section class="folder-list">
        <nis-folder-list
          [folders]="folders"
          [defaultFolder]="defaultFolder"
          (selectedFolder)="selectFolder($event)">
        </nis-folder-list>

        <nis-folder-list
          title="Custom Folders"
          [folders]="customFolders"
          [allowCreate]="true">
        </nis-folder-list>
      </section>

    </nav>

    <section class="mail-composer horizontal-center">
    </section>


    <section class="horizontal-center vertical-container">
      <nis-message-list
        [title]="messageListTitle"
        [messages]="messages"
        (currentMessageChanged)="selectCurrentMessage($event)">
      </nis-message-list>

      <div class="spacer">

        <hr>
      </div>

      <nis-message-viewer
        [message]="currentMessage"
        (reply)="replyTo($event)"
        (forward)="forward($event)"
        (delete)="delete($event)">
      </nis-message-viewer>
    </section>

  </section>

  <footer>
    <div class="center-block">
      powered by Angular 9 and <a href="http://www.nispro.it">NIS s.r.l.</a>
    </div>
  </footer>
</div>
